*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* --------------HEADER STYLES--------------- */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.link-logo {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.container-nav .link-logo {
    display: block;
    padding: 16px 0;
}

.link-logo .logo {
    color: #2e2f42;
}

.nav-list {
    display: none;
}

.address-nav {
    display: none;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

/* ------------SECTION HERO STYLES----------- */

.section-effective {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgr-image-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
    .section-effective {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgr-image-mob-2x.jpg);
    }
}

.section-effective .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    max-width: 216px;
}

.button-order {
    border: none;
    display: block;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------SECTION 1 STYLES----------- */

.section-part {
    padding: 96px 0;
}

.section-part .section-part-title {
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.section-item {
    max-width: 100%;
}

.section-icon {
    display: none;
}

.section-part .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ------------SECTION PHOTO STYLES----------- */

.section-photo {
    background-color: #f4f4fd;
}

.section-photo .container {
    padding-left: 28px;
    padding-right: 28px;
}

.section-part .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.photo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.photo-item {
    width: 100%;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    max-width: 264px;
    background-color: #fff;
}

.photo-content {
    text-align: center;
    padding: 32px 0px;
}

.photo-content .section-part-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.photo-content .text {
    font-weight: 400;
    margin-bottom: 8px;
}

.icons-list {
    display: flex;
    width: 100%;
    gap: 24px;
    justify-content: center;
}

.icon-item {
    width: 40px;
    height: 40px;
}

.photo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.photo-icon {
    fill: #f4f4fd;
}

/* ------------SECTION PORTFOLIO STYLES----------- */

.portfolio-list {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 100%;
    max-width: 288px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-text-over {
    transform: translateY(0);
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-text-over {
    position: absolute;
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content {
    align-items: flex-start;
    padding: 32px 16px 31px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-content .text {
    font-weight: 400;
}

.section-part .cap {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
}

/* ------------FOOTER STYLES----------- */

.footer-section {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.footer-section .logo-footer {
    color: #f4f4fd;
}

.footer-section .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

.footer-container .link-logo {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    margin-bottom: 16px;
    text-align: center;
}

.icons-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.icons-list-footer {
    display: flex;
    width: 100%;
    gap: 16px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: transparent;
    padding-left: 16px;
    padding-right: 24px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    opacity: 0.3;
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-icon {
    fill: #fff;
    margin-left: 16px;
}

/* ------------MODAL WINDOW STYLES----------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    background-color: #fcfcfc;
    padding: 72px 16px 16px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    width: 288px;
    min-height: 623px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(is-open).modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover>.modal-button-icon,
.modal-button:focus>.modal-button-icon {
    fill: #fff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-field {
    margin-bottom: 8px;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4d5ae5
}

.form-input:focus+.modal-icon {
    fill: #4d5ae5
}

.input-wrapper {
    position: relative;
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.form-comment {
    margin-bottom: 16px;
}

.form-textarea {
    width: 100%;
    height: 120px;
    resize: none;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-textarea:focus {
    border-color: #4d5ae5;
}

.check-modal-field {
    margin-bottom: 24px;
}

.check-label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.check-span {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-label-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.check-input:checked+.check-label .check-span {
    border-radius: 2px;
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal-send-button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    cursor: pointer;
    height: 56px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-button:hover,
.modal-send-button:focus {
    background-color: #404bbf;
}

/* ------------MOBILE MENU STYLES----------- */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
    background-color: #fff;
    padding: 0;
    cursor: pointer;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-item:first-child {
    color: #404bbf;
}

.mobile-address-nav {
     display: block;
     font-style: normal;
}

.mobile-address-list {
     display: flex;
     flex-direction: column;
     gap: 24px;
}

.mobile-address-item {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-address-item:first-child {
    color: #4d5ae5;
}

.mobile-icons-list {
     display: flex;
     width: 100%;
     gap: 40px;
     max-width: 280px;
     margin-top: 48px;
}

.mobile-icon-item {
     width: 40px;
     height: 40px;
}

.mobile-photo-link {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     border-radius: 50%;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}


/* ------------MEDIA 768PX STYLES----------- */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .container-nav {
        display: flex;
        align-items: center;
    }

    .container-nav .link-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    
    .link-nav {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .link-nav.current {
        position: relative;
    }
    
    .link-nav.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }
    
    .nav-list .link-nav:hover,
    .nav-list .link-nav:focus,
    .address-nav .link-address:hover,
    .address-nav .link-address:focus,
    .link-nav.current {
        color: #404BBF;
    }

    .address-nav {
        display: block;
        font-style: normal;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .link-address {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .burger-btn {
        display: none;
    }

    .section-effective {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgr-image-tab.jpg);
    }

     @media screen and (min-resolution: 192dpi) {
        .section-effective {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgr-image-tab-2x.jpg);
         }
    }

    .section-effective .title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }

    .section-list {
        gap: 72px 24px;
    }

    .section-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .section-item .section-part-title {
        text-align: left;
    }

    .section-photo .container {
        padding-left: 108px;
        padding-right: 108px;
    }

    .photo-list {
        gap: 64px 24px;
    }

    .photo-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .portfolio-list {
        gap: 72px 24px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 24px) / 2);
        max-width: 356px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    }

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        align-items: flex-start;
        padding-left: 108px;
        padding-right: 108px;
    }

    .footer-section .footer-text {
        max-width: 264px;
    }

    .footer-container .link-logo,
    .icons-text {
        text-align: left;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }

    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
    }
}

/* ------------MEDIA 1158PX STYLES----------- */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .container-nav .link-logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }

    .link-address {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
    }

     .section-effective {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgr-image.jpg);
    }

    .section-effective .button-order:hover,
    .section-effective .button-order:focus {
        background-color: #404BBF;
    }

    @media screen and (min-resolution: 192dpi) {
        .section-effective {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgr-image-2x.jpg);
        }
    }

    .section-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .section-part {
        padding: 120px 0;
    }

    .section-item .section-part-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .section-part .text {
        font-weight: 400;
    }

    .section-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        margin-bottom: 8px;
        height: 112px;
    }

    .section-photo .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .photo-list {
        gap: 24px;
    }

    .photo-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .photo-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .photo-link:hover,
    .photo-link:focus {
        background-color: #404bbf;
    }

    .portfolio-list {
        gap: 48px 24px;
    }

    .portfolio-item {
        box-shadow: none;
        flex-basis: calc((100% - 48px) / 3);
        max-width: 360px;
    }

    .portfolio-item:hover,
    .portfolio-item:focus {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
    }

    .footer-section {
        padding: 100px 0;
    }

    .footer-content {
        margin-right: 120px;
    }

    .footer-email-form {
        margin-left: 80px;
    }

    .footer-input {
        opacity: 1;
    }

    .footer-link:hover,
    .footer-link:focus {
        background-color: #31D0AA;
    }

    .footer-form-button:hover,
    .footer-form-button:focus {
        background-color: #404bbf;
    }
}

